body {
    background-color: #51637a;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
}

.navbar-nav > li > a {
    color: white;
    margin-top: 0px;
}

    .navbar-nav > li > a:hover {
        color: black;
        margin-top: 0px;
    }

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

    .row.no-gutters > [class^="col-"],
    .row.no-gutters > [class*=" col-"] {
        padding-right: 0;
        padding-left: 0;
    }

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.mainSection {
    background-image: url('../images/tuscany-villas-sant-anna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 372px;
    text-align: center;
    color: white;
}


.sectionHeader {
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.locationPreviews {
    padding: 50px;
    background-color: white;
    
}

.darklocationPreviews {
    color: white;
    padding: 50px;
    vertical-align:middle;
}

.amenitiesGrid {
    background-color: white;
    padding: 50px;

}

#amenityDescrip{
    text-align:center;
    vertical-align:middle;
}

.receptions {
    
    background-image: url(../images/3b-348x348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:348px;
    
}

h2 span{
    position:absolute;
    color:white;
    background: rgba(150,150,150,0.6);
    text-align:center;
    vertical-align:middle;
    padding:20px;
    margin-top:80px;
    margin-left:20px;
}


#pool {
    background-image: url(../images/42-348x348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:348px;
}

#home {
    background-image: url(../images/314-348x348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:348px;
}

#views {
    background-image: url(../images/Villa-Rucellai-Toscani-2812-2-348x348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:348px;
}

#dining {
    background-image: url(../images/Villa-Vanna-231-348x348.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:348px;
}

.carousel {
    background-color: white;
    text-align: center;
    vertical-align:middle;
    height:200px;
}

.carousel-indicators li {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #51637a;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}

.carousel-indicators.active{
    background-color:#51637a;
}

.carousel-control.right {
    color:#51637a;
    right: 0;
    left: auto;
    background-image:none;
}

.carousel-control.left {
    color:#51637a;
    background-image:none;
}
.carousel-inner {
    top:20%;
    transform: translateY(50%);
    bottom:initial;
}

.carousel .item{
    vertical-align:middle;
    font-size:18px;
    
}

.contactSection {
    background-color: white;
    padding: 40px;
}

.form-inline .form-control{
    width:300px
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: middle;
}


.btn{
    margin-right:20px;
}
.btn-primary {
    color: #fff;
    background-color: #51637a;
    border-color: #51637a;
}

.darklocationPreviews .btn-primary{
    color:#51637a;
    background-color:#fff;
    border-color:#51637a;
}

.image {
    position: relative;
    width: auto;
}
